/* ANIMATIONS */

/* FADE */
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease-in;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

/* SCALE */
.scale-enter-from {
  transform: scale(.3);
}
.scale-enter-active {
  transition: all 0.15s ease-in;
}
.scale-enter-to,
.scale-leave-from {
  transform: scale(1);
}
.scale-leave-active {
  transition: all 0.15s ease-out;
}
.scale-leave-to {
  transform: scale(.1);
}